/* Highlights section */
.highlight {
    margin: 5%;
}

.highlight h2 {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
}

.highlight ul {
    display: flex;
    justify-content: space-between;
}

.highlight li {
    flex-basis: 25%;
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.highlight p {
    font-size: 14px;
    color: #666;
}

.highlight img {
    width: 90%;
    max-width: 400px;
    height: auto;
    max-height: 190px;
    margin-bottom: 10px;
}